// colors
$primary-color: #023859;
$primary-color-light: #0388a6;
$secondary-color: #027353;
$tiertiary-color: #f29b30;
$tiertiary-color-dark: #d97b29;

$light-color: #f4f4f4;
$grey-color: #cfd7dd;
$dark-color: #141617;
$danger-color: #dc3545;
$success-color: #027317;

$max-width: 1280px;

$spaceamounts: (1, 2, 3, 4, 5);
// responsive breakpoints
// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;
